.button
{
-fx-background-color : #640032;
-fx-text-fill : #F2D7D7;
}
.button:hover{
-fx-background-color : #CD0066;
}
.button:pressed
{
-fx-background-color : #A31B5F;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}


.close-btn{
    -fx-background-color: transparent;
}
.close-btn:hover{
    -fx-background-color: #E81123;
}

.min-btn{
    -fx-background-color: transparent;
}
.min-btn:hover{
    -fx-background-color: #CD0066;
}

.cart
{
-fx-background-color : #640032;

}

.cart:hover{
-fx-background-color : #CD0066;
}

.book_image:hover{
-fx-background-color : #CD0066;
}
.txtfield{
    -fx-background-color: #3B4148;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #FFFFFF;
}
.txtfield:focused{
    -fx-background-color:  #292C34;
    -fx-background-radius: 0px;
    -fx-prompt-text-fill: #ADADAD;
    -fx-text-fill: #FFFFFF;
}
.parent{
    -fx-background-color: #303138;
}
.table-view{
    -fx-background-color: black;
    -fx-background-radius:30;
}
.table-view .column-header-background{
    -fx-background-color:#303138;
    -fx-background-radius:30;
    -fx-background-insets:0 0 10 0;
    -fx-padding: 0 0 10 0;
    -fx-effect: dropshadow(two-pass-box,#640032,15,0.0,0.1,3)
}
.table-view .column-header, .table-view .filler {
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-background-radius:30;
    -fx-background-color:transparent;
    
}
.table-view .column-header .label {
    -fx-text-fill:#FFFFFF
}
.table-row-cell:odd{
     -fx-background-color:#640032;
     -fx-background-insets:0, 0 0 1 0;
     
}

    
.table-row-cell:even{
     -fx-background-color:bisque;
     -fx-background-insets:0, 0 0 1 0;
     
}
.table-row-cell:empty{
     -fx-background-color:black;

}
.table-row-cell:selected {
   -fx-background-color:#3B4148; 
  
}
.table-row-cell:selected .text {
       -fx-fill: white ;

}
.table-row-cell .text{
      -fx-fill:black;
  
}


